.input {
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
}
.input>label {
    font-size: medium;
    margin-bottom: 5px;
}

/* All */
.input>input {
    color: var(--color-6);
    background-color: var(--color-5);
    border-radius: 10px;
    border: none;
    margin-left: auto;
    padding: 10px;
    font-size: large;
}
.input>input::placeholder {
    color: var(--color-0);
}
.input>input:focus {
    outline: none;
}


