.button {
    background-color: var(--color-3);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
}
.button:hover {
	transform: scale(1.05);
}
.button:active {
    transform: scale(0.95);
}