.form {
    direction: ltr;
    display: flex;
    flex-direction: column;
    background-color: var(--color-2);
    padding: 10px;
    border-radius: 10px;
}

.form>* {
    margin-bottom: 10px;
}
.form>*:last-child {
    margin-bottom: 0;
}