@import "tailwindcss";

@theme {
    --color-back: #222222;
    --color-back-2: #2e2e2e;
    --color-back-3: #383838;
    --color-back-4: #454055;
    --color-back-autofill: #e9f0fd;
    --color-fore: #4fbb7c;
    --color-fore-2: #71bb4f;

    --animate-hover: hover 0.2s forwards;
    --animate-click: click 0.5s;
    --animate-fade-in: fade-in 0.5s forwards ease-in-out;
    --animate-fade-out: fade-out 0.5s forwards ease-in-out;
    --animate-slide-in: slide-in 0.3s forwards ease-out;
    --animate-slide-out: slide-out 0.3s forwards ease-in;

    @keyframes hover {
        100% {
            transform: scale(1.05);
        }
    }
    @keyframes click {
        50% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes slide-in {
        0% {
            overflow-y: hidden;
            transform: scale(1, 0);
            height: 0;
        }
        100% {
            overflow-y: hidden;
            transform: scale(1, 1);
            height: calc-size(auto, size);
        }
    }
    @keyframes slide-out {
        0% {
            overflow-y: hidden;
            transform: scale(1, 1);
            height: calc-size(auto, size);
        }
        100% {
            overflow-y: hidden;
            transform: scale(1, 0);
            height: 0;
        }
    }
}

body {
    --color-back: #222222;
    --color-back-2: #2e2e2e;
    --color-back-3: #383838;
    --color-back-4: #454055;
    --color-back-autofill: #e9f0fd;
    --color-fore: #4fbb7c;
    --color-fore-2: #71bb4f;

    --header-height: 100px;
    --control-panel-width: 0px;
    --canvas-offset-top: calc(var(--header-height));
    --canvas-offset-right: calc(var(--control-panel-width));

    margin: 0;
    background-color: var(--color-back);
    color: var(--color-fore);
}

* {
    @apply font-sans;
    box-sizing: border-box;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-lg;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1,
h2,
h3 {
    @apply mt-2;
    @apply mb-2;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: var(--color-back-3);
    @apply rounded-md;
    @apply text-white;
    @apply p-2;
}

input:disabled {
    @apply text-gray-400!;
}

a {
    color: var(--color-fore-2);
    @apply underline;
}

#page {
    margin: 0;
}

em {
    font-weight: 700;
    font-style: normal;
}

.debug {
    z-index: 99999999999999999;
    background-color: black;
    padding: 1em;
    color: red;
    position: fixed;
    left: 25px;
    top: 25px;
    max-width: 100vw;
    overflow: scroll;
}

.error {
    color: lightcoral;
}

.z-unset {
    z-index: unset;
}

/*
    Style our scroll bar (thank you w3schools)
/*

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-back-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-lg;
    background: var(--color-back-4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-back-4);
}
