@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --color-back: #222222;
    --color-back-2: #2e2e2e;
    --color-back-3: #383838;
    --color-back-4: #4c4660;
    --color-back-autofill: #e9f0fd;
    --color-fore: #4fbb7c;

    --header-height: 100px;
    --control-panel-height: 200px;
    --canvas-offset: calc( var(--header-height) + var(--control-panel-height) );

    margin: 0;
    background-color: var(--color-back);
    color: var(--color-fore);
}

* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

a {
    color: var(--color-fore);
}

#page {
    margin: 0;
}

em {
    font-weight: 800;
    font-style: normal;
}