body {
    --color-back: #222222;
    --color-back-2: #2e2e2e;
    --color-back-3: #383838;
    --color-back-4: #4c4660;
    --color-back-autofill: #e9f0fd;
    --color-fore: #4fbb7c;

    --header-height: 100px;
    --control-panel-height: 100px;
    --canvas-offset: calc( var(--header-height) + var(--control-panel-height) );

    margin: 0;
    background-color: var(--color-back);
    color: var(--color-fore);
}

* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

a {
    color: var(--color-fore);
}

#page {
    margin: 0;
}

.control-panel {
    height: var(--control-panel-height);
    display: flex;
    column-gap: 1em;
    align-items: center;
}
.control-group {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}
.control-group.lock {
    border-bottom: 0.1rem solid green;
}
.control-group>:global(.button-component) {
    margin: 2px;
}
.control {
    display: flex;
    flex-direction: column;
}