/*
    Globals
*/
* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--color-1);
    transition-duration: 200ms;
}

body {
    /* App Variabkles */
    --color-1: #cce1e9;
    --color-2: #202020;
    --color-3: #303030;
    --color-4: #b33232;

    background-color: var(--color-2);

    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* This is nothing -- useful if you need something like a <></> but that can have event listeners */
.nothing {
    display: contents;
}

/* Form */
.form {
    direction: ltr;
    display: flex;
    flex-direction: column;
    background-color: var(--color-4);
    padding: 10px;
}

/*
    Scroll bars
*/
::-webkit-scrollbar-corner {
    background-color: transparent
}
::-webkit-scrollbar {
    background-color: var(--scroll-bar-color);
    width: 0.8em;
    height: 0.8em;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb-color);
    border-radius: 20px;
    border: 1px black solid;
}

/*
    Buttons
*/
.button {
    background-color: var(--color-3);
    border: none;
    padding: 5px;
    border-radius: 5px;
    
}
.button:hover {
	transform: scale(1.05);
}
.button:active {
    transform: scale(0.95);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.animation-attention {
    animation: attention 0.2s ease-in-out;
}
@keyframes attention {
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}